$jpinput-height: 32px;
$jpinput-radius: 4px;
$jpinput-padding: 20px 16px;
$jpinput-bg: #ffffff;
$jpinput-color: #4F4137;
$jpinput-ph-color: $jpinput-color;
$jpinput-phide-color: $jpinput-bg;
@font-face {
    font-family: 'mbregular';
    src: url('../../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'mblightitalic';
    src: url('../../fonts/Montserrat-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'mbbold';
    src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'mbsemibold';
    src: url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'JF Flat Jozoor';
    src: url('../../fonts/JF-Flat-regular.ttf') format('truetype');
}

.homebackground {
    height: 686px;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-row {
    margin: 0 0 1em;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.jpinput {
    height: $jpinput-height;
    padding: $jpinput-padding;
    transition: transform 225ms ease-in-out;
    background: white;
    color: $jpinput-color;
    border-radius: 4px;
    font-family: 'JF Flat Jozoor';
    width: 80%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 13px;
    padding-right: 40px;
}

.searchbar {
    padding: 17px 16px;
    transition: transform 225ms ease-in-out;
    background: rgba(255, 255, 255, 1);
    background-image: none;
    color: #838d8f;
    border-radius: 6px;
    font-family: 'JF Flat Jozoor';
    width: 100%;
    background-repeat: no-repeat;
    padding-left: 41px;
    background-position-x: 10px;
    background-position-y: 8px;
}

.buttn2 {
    //height: 40px;
    width: 20%;
    background-color: rgb(45, 72, 55);
    color: white;
    font-size: 12px;
    font-family: 'JF Flat Jozoor';
    border-radius: 0 5px 5px 0;
    outline: none;
}

.langbtn {
    height: 30px;
    width: 80px;
    margin-top: 18px;
    background-color: #000;
    border: 2px solid #E7B34B;
    color: #E7B34B;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'JF Flat Jozoor';

}

.langbtn:focus {
    height: 30px;
    width: 80px;
    margin-top: 18px;
    background-color: #F0E40F;
    border: 2px solid #000;
    color: #000;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'JF Flat Jozoor';
    outline: none;

}

.langbtn:hover {
    height: 30px;
    width: 80px;
    margin-top: 18px;
    background-color: #F0E40F;
    border: 2px solid #000;
    color: #000;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'JF Flat Jozoor';

}

.langbtnmenu {
    height: 30px;
    width: 260px;
    margin-top: 18px;
    background-color: #F0E40F;
    color: black;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'JF Flat Jozoor';

}
.langbtnmenu:hover {
    height: 30px;
    width: 260px;
    margin-top: 18px;
    background-color: #E7B34B;
    color: black;
    border-radius: 4px;
    font-size: 15px;
    font-family: 'JF Flat Jozoor';
}

.circlebody {
    background: #000;
    height: 35px;
    background-position: center center;
    border-radius: 50px;
    background-repeat: no-repeat;
    color: #E7B34B;
}
.circlebody:hover {
    background: #E7B34B;
    color: black;
    height: 35px;
    background-position: center center;
    border-radius: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.circlebodymenu {
    background: #000;
    border-radius: 50px;
    height: 40px;
    background-repeat: no-repeat;
    color: #E7B34B;
}
.circlebodymenu:hover {
    background: #E7B34B;
    height: 40px;
    border-radius: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 4px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    background: #E7B34B;
}

.circlemenu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    text-align: center;
}
.circlemenu:hover {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #000;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    background: #F0E40F;
    cursor: pointer;
}

.circlebodymenu {
    border-radius: 50%;
    color: #fff;
    font-style: normal;
    text-align: center;
}
.circlebodymenu:hover {
    border-radius: 50%;
    color: #fff;
    background: #F0E40F;
    cursor: pointer;
}

.rectanclemenu {
    width: 40px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    text-align: center;    
}

.react-tagsinput-input1 {
    border: #e0e0e0 1px solid;
    width: 90%;
    height: 50px;
}
.react-tagsinput-input1:focus {
    border: #F0E40F 1px solid;
    width: 90%;
    height: 50px;
}
.rectanclemenu:hover {
    width: 40px;
    height: 40px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    background: #F0E40F;
    cursor: pointer;
}

.divclass {
    color: #F0E40F;
    cursor: pointer;
}
.divclass:hover {
    color: #F0E40F;
    cursor: pointer;
}

.searchbtn {
    height: 50px;
    background-color: #F0E40F;
    color: black;
    border-radius: 6px;
    font-family: 'JF Flat Jozoor';
    margin-right: 10px;
    width: 110px;
    max-width: 90%;
    font-size: 15px;
}
.searchbtn:focus {
    height: 50px;
    background-color: #F0E40F;
    color: black;
    border-radius: 6px;
    font-family: 'JF Flat Jozoor';
    outline: none;
    margin-right: 10px;
    width: 110px;
    max-width: 90%;
    font-size: 15px;
    outline: none;
}

.navtop {
    font-family: 'JF Flat Jozoor';
    height: 80px;
    position: relative;
    overflow: hidden;
    background-color: #000;
    top: 0;
    width: 100%;
}

.navtop-item {
    margin-top: 25px;
    font-family: 'JF Flat Jozoor';
    color: #F0E40F;
    font-size: 14px;
}
.navtop-item:hover {
    margin-top: 25px;
    font-family: 'JF Flat Jozoor';
    color: #E7B34B;
    font-size: 14px;
}

.myCard {
    font-family: 'JF Flat Jozoor';
    line-Height: 2.8;
    letter-Spacing: 0.21;
    color: "#3c3d41";
}

.sliderelement {
    height: 209px;
    width: 306px;
    background-size: cover;
    border-radius: 5px;
}

.categoryslider {
    background-color: black;
    width: 81px;
    height: 25px;
    color: #F0E40F;
    margin: 14px;
    border-radius: 3px;
    float: right;
}

.txtcategory {
    margin-top: -9px;
    font-size: 11px;
    font-family: 'JF Flat Jozoor';
}

.posts {
    background-size: cover;
}

.iconpost {
    width: 35px;
    height: 35px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    position: relative;
}

.divbottomtext {
    position: absolute;
    bottom: 24px;
}

.bottomtext {
    color: white;
    font-family: 'JF Flat Jozoor';
    font-size: 12px;
}

.paragraphpost {
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
    color: white;
    font-family: 'JF Flat Jozoor';
    font-size: 13px;
}
.paragraphpostreadmore {
    margin-right: 50px;
    margin-left: 50px;
    text-align: justify;
    color: white;
    font-family: 'JF Flat Jozoor';
    font-size: 13px;
    text-align: right;
    margin-top: 20px;
    letter-spacing: 2px;
}

.paragraphcontainer {
    position: absolute;
    bottom: 90px;
}

.layer {
    background-color: rgba(38, 37, 34, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vidContain {

    position: relative;
    display: inline-block;
    margin: 0;
}

.vid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

/*Article SCSS*/

.headbanner {
    height: 320px;
    background-size: cover;
}

.titlearticle {
    margin-left: 45px;
    margin-top: 19px;
    font-size: 22px;
    letter-spacing: 0.24px;
    color: #3c3d41;
    font-family: 'JF Flat Jozoor';
    line-height: 41px;

}

.paragrapharticle {
    margin-left: 45px;
    margin-right: 45px;
    text-align: justify;
    margin-top: 20px;
    font-family: 'JF Flat Jozoor';
}

.highlightes {
    margin-top: 70px;
}

.subtitle {
    color: #838d8f;
    font-size: 12px;
    font-family: 'JF Flat Jozoor';
    margin-bottom: 20px;
}

.subtitle2 {
    margin-bottom: 20px;

    font-family: 'JF Flat Jozoor';

    font-size: 14px;
    max-width: 75%;
}

.mediaitem {
    height: 120;
    margin-left: 13;
    padding: 0;
}

.keywordcontainer {
    border: 3px solid #F0E40F;
    border-radius: 4px;
    margin-left: 14px;
}

.keywordcontainer {
    border: 3px solid #F0E40F;
    border-radius: 4px;
    margin-left: 14px;
}

.keyword {
    margin: 6px;

    color: #F0E40F;

    font-family: 'JF Flat Jozoor';
}

.profileimg {
    width: 54px;
    height: 54px;
    background-color: rgb(216, 216, 216);
    border-radius: 28px;
    margin-right: 20px;
}

.goarticle {
    // text-align: right;
    //margin-right: 90px;
    font-size: 14px;
    color: #90c690;
}

.navbttnsr {
    height: 36px;
    width: 36px;
    float: right;
    position: absolute;
    z-index: 1000;
    margin-left: 91%;
    opacity: 0.5;
    top: 50%;
}

.navbttnsl {
    height: 36px;
    width: 36px;
    float: right;
    position: absolute;
    z-index: 1000;
    margin-left: 2%;
    opacity: 0.5;
    top: 50%;
}

.containerplaysong {
    background-color: #000;
    text-align: center;
    margin-top: 25%;
    width: 100%;
}

.custommodal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    border-radius: 4px;
    outline: currentcolor none medium;
    transform: translate(-50%, -50%);
    margin-right: -50%;
}

.layercard {
    position: absolute;
}

.cardTitle {
    font-family: "JF Flat Jozoor";
    font-size: 12px;
    color: white;

}
.layercard:hover .cardTitle {
    transition: all ease 0.5s;
    font-size: 15px;
}

.cardscontainer {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.checkedcategory {
    width: 18px;
    height: 18px;
    position: relative;
    right: 0;
    z-index: 50;
    margin: 5px;
    float: right;
}

.backgroundcard {
    height: 174px;
    background-size: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.cardcontainer {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.stylecontainer {
    background-color: #000;
}

.byauthor {
    margin-right: 124px;
    position: absolute;
    margin-top: 3px;
}

.bookmarkicon {
    float: right;
}

.offresponsive {
    display: block;
}

.mobileitem {
    display: none;
}
.desktopfooter {
    display: block;
}

.mobilefooter {
    display: none;
}

.iconmobilemenu {
    position: absolute;
    right: -3px;
    top: 25px;
    height: 40px;
    width: 40px;
}

.categoryslider2 {
    background-color: black;
    width: 81px;
    height: 25px;
    color: #F0E40F;
    margin: 14px 14px 0;
    border-radius: 3px;

    float: right;
}

.fixedbottom {
    position: fixed;

    bottom: 0;
}
@media screen and (max-width: 768px) {

    .offresponsive {
        display: none;
    }
    .desktopfooter {
        display: none;
    }
    .mobilefooter {
        display: block;
    }
    .mobileitem {
        display: block;
    }

}
@media screen and (min-width: 768px) {

    .offresponsive {
        display: block;
    }

    .mobileitem {
        display: none;
    }

    .desktopfooter {
        display: block;
    }

    .mobilefooter {
        display: none;
    }

}
@media screen and (max-width: 576px) {
    .custommodal {
        position: absolute;
        right: auto;
        bottom: auto;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255) none repeat scroll 0 0;
        border-radius: 4px;
        outline: currentcolor none medium;
        margin-right: -50%;
        width: 100%;
        max-height: 100vh;
        overflow: auto;
    }

    .offresponsive {
        display: none;
    }
}

.newsletter {
    font-size: 15;
    width: 300;
    margin-bottom: 7;
    font-family: "JF Flat Jozoor";
}

.Categorytitle {
    height: 62px;
    border-radius: 6;
    color: white;
    font-size: 48px;
    font-family: "JF Flat Jozoor";
    font-weight: bold;
    background-color: "rgba(255, 255, 255, 0.2)";
    padding-top: 15px;
}

.styleDiv {
    width: 100%;
}

.myTitle {
    font-family: "JF Flat Jozoor";
    font-size: 30px;
    font-weight: bolder;
    font-style: normal;
    text-align: left;
    margin-top: 10px;
    color: #E7B34B;
    letter-spacing: 0.41px;

}

.myTitleT {
    font-family: "JF Flat Jozoor";
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-align: left;
    margin-top: 10px;
    color: black;
    letter-spacing: 0.41px;
}

.mySubTitle {
    font-family: "JF Flat Jozoor";
    font-size: 24px;
    font-weight: bolder;
    font-style: normal;
    margin-top: 10px;
    color: #E7B34B;
    letter-spacing: 0.26px;
}

.mySmallTitle {
    font-family: "JF Flat Jozoor";
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    color: #E7B34B;
    letter-spacing: 0.22px;
}

.mb20SemiBold {
    font-family: "JF Flat Jozoor";
    font-size: 20px;
    font-style: normal;
    text-align: left;
    color: #E7B34B;
    letter-spacing: 0.22px;
}

.mb18Regular {
    font-family: "JF Flat Jozoor";
    font-size: 18px;
    font-style: normal;
    text-align: left;
    color: #E7B34B;
    letter-spacing: 0.22px;
    margin-top: 10px;
}

.mb14Regular {
    font-family: "JF Flat Jozoor";
    font-size: 14px;
    font-style: normal;
    text-align: left;
    margin-top: 20px;
    color: #E7B34B;
    letter-spacing: 0.13px;
}

.mb12Regular {
    font-family: "JF Flat Jozoor";
    font-size: 15px;
    font-style: normal;
    text-align: left;
    color: #E7B34B;
    font-weight: bold;
    letter-spacing: 0.13px;

}

.mb10Regular {
    font-family: "JF Flat Jozoor";
    font-size: 10px;
    font-style: normal;
    text-align: left;
    margin-top: 10px;
    color: #E7B34B;
    letter-spacing: 0.11px;
}

.myText {
    font-family: "JF Flat Jozoor";
    font-size: 14px;
    font-style: normal;
    text-align: left;
    margin-top: 10px;
    color: #E7B34B;
    letter-spacing: 0.15px;
}

.myInputTextMenu {
    color: black;
    font-family: "JF Flat Jozoor";
    font-size: 23px;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0;
}
.myInputTextMenu1 {
    color: black;
    font-family: "JF Flat Jozoor";
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    letter-spacing: 0;
}

.stylefont {
    margin-left: 5px;
    margin-right: 5px;
    transform: scale(0.9);
    margin-top: 5px;
}

.myInputText {
    color: #838d8f;
    font-family: "JF Flat Jozoor";
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0;
    padding: 5px;

}

.myInputTextListItem {
    color: black;
    font-family: "JF Flat Jozoor";
    font-size: 15px;
    font-style: normal;
    letter-spacing: 0;
    padding: 5px;
}

.myInputTextplaceholder {
    color: #FF0000;
    font-family: "mbregular";
    font-size: 20px;
    font-style: normal;
    text-align: left;
    letter-spacing: 0;
    padding: 5px;
}
// -----------------------------------------------------------------------------
.pProfilebtnEditProfile {
    height: 50px;
    width: 160px;
    background-color: rgb(255, 255, 255);
    color: #838d8f;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'mbregular';
    line-height: 12px;
    letter-spacing: 2px;
    border: solid #838d8f 1px;
}
.pProfilebtnEditProfile:hover {
    background-color: #F0E40F;
    color: #ffffff;
}

.pProfilebtnFollow {
    height: 50px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    color: #F0E40F;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'mbregular';
    line-height: 12px;
    letter-spacing: 2px;
    border: solid #F0E40F 1px;
}
.pProfilebtnFollow:hover {
    background-color: #F0E40F;
    color: #ffffff;
}
.pProfilebtnFollow:active {
    background-color: #F0E40F;
    color: #ffffff;
}

.pProfilebtnFollowActive {
    background-color: #F0E40F;
    color: #ffffff;
}

.pProfileCat {
    font-family: "mbregular";
    font-size: 22px;
    font-style: normal;
    text-align: left;
    color: #838d8f;
}

// EditProfilePage

.profileInputTxt {
    height: 80px;
    border-bottom: 1px #eeeeee solid;
    color: #838d8f;
    font-family: "mbregular";
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    padding: 18px 24px;
    margin: 20px;
    width: 100%;
}
.profileInputTxt:focus {
    border-bottom: 3px #F0E40F solid;
}

//Btns---------------------------------------------------------------------------
.btnGreen {
    height: 50px;
    background-color: #F0E40F;
    color: #000;
    border-radius: 4px;
    width: 100px;
    font-size: 14px;
    font-family: "JF Flat Jozoor";
    line-height: 12px;
    letter-spacing: 2px;

}
.btnGreen:focus, .btnGreen:hover{
    height: 50px;
    width: 100px;
    background-color: #E7B34B;
    color: #000;
    border-radius: 4px;
    font-size: 14px;
    font-family: "JF Flat Jozoor";
    line-height: 12px;
    letter-spacing: 2px;
    outline: none;
}

.btnGreenArticle {
    height: 50px;
    background-color: #F0E40F;
    color: #000;
    border-radius: 4px;
    font-size: 14px;
    font-family: "JF Flat Jozoor";
    line-height: 12px;
    letter-spacing: 2px;
}

.btnSmallGreen {
    height: 25px;
    width: 25px;
    background-color: #F0E40F;
    color: #000;
    border-radius: 4px;
    font-size: 30px;
    font-family: 'mbregular';
    line-height: 12px;
    letter-spacing: 2px;
    border: solid #F0E40F 1px;
}

.btnSmallRed {
    height: 25px;
    width: 25px;
    background-color: #FF0000;
    color: #ffffff;
    border-radius: 4px;
    font-size: 30px;
    font-family: 'mbregular';
    line-height: 12px;
    letter-spacing: 2px;
    border: solid #FF0000 1px;
}

.btnPink {
    height: 50px;
    background-color: #f3798a;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'mbregular';
    line-height: 12px;
    letter-spacing: 2px;
    border: solid #f3798a 1px;
}
.btnPink:focus {
    height: 50px;
    background-color: #f3798a;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'mbregular';
    line-height: 12px;
    letter-spacing: 2px;
    border: solid #f3798a 1px;
    outline: none;
}

.btnWhite {
    height: 50px;
    width: 100px;
    background-color: #F0E40F;
    color: #000;
    border-radius: 4px;
    font-size: 14px;
    font-family: "JF Flat Jozoor";
    line-height: 12px;
    letter-spacing: 2px;
    border: solid #F0E40F 1px;
}
.btnWhite:active,
.btnWhite:hover {
    color: #000;
    background-color: #E7B34B;
}

.active {
    color: #000;
    background-color: #E7B34B;
}

.btnBlue {
    height: 50px;
    width: 100px;
    background-color: #64a4ef;
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
    font-family: "JF Flat Jozoor";
    line-height: 12px;
    letter-spacing: 2px;
    border: solid #64a4ef 1px;
}

.btnSmall {
    height: 40px;
    width: 120px;
    color: #ffffff;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'mbregular';
    line-height: 0;
    letter-spacing: 0;
}

.btnAdd {
    height: 50px;
    width: 50px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 14px;
    font-family: "mbbold";
    font-weight: bolder;
    line-height: 0;
    letter-spacing: 0;
}

.btnSmallerBlackish {
    height: 20px;
    width: 75px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 9px;
    font-family: "mbbold";
    font-weight: bolder;
    line-height: 0;
    letter-spacing: 0;
    background-color: #192a1f;
}

.btnCloseSmall {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #838d8f;
    color: #fff;
    font-family: "mbregular";
    font-weight: bold;
    align-self: center;
}

.sharebtn {
    margin-left: 10px;
    margin-right: 10px;
}

.inputSelect {
    height: 80px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px #eeeeee solid;
    padding: 0 24px;
    width: 100%;
}
.inputSelect:focus {
    border-bottom: 3px #F0E40F solid;
}

.inputSelectAdd {
    border: #e0e0e0 1px solid;
    width: 90%;
    height: 50px;
    padding: 10;
    border-radius: 6px;
}
.inputSelectAdd:focus {
    border: #F0E40F 1px solid;
    width: 90%;
    height: 50px;
    padding: 10;
}

.invalidInput {
    // color: #ff0000;
    border-bottom: 3px #ff0000 solid;
}

.dropZone {
    border: #e0e0e0 1px solid;
    width: 100%;
    height: 200px;
    border-radius: 6px;
    cursor: pointer;
}

.dropZone1 {
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.withBorderBottom {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px #eeeeee solid;
}

.withBorder {
    border: 1px #eeeeee solid;
    border-radius: 6px;
    width: 100%;
}

.withBorderList {
    border: 1px #eeeeee solid;
    border-radius: 5px;
    padding: 10px;
}

.withBordermedia {
    border: 1px #eeeeee solid;
    border-radius: 6px;
    height: 180px;
    width: 100%;
    cursor: pointer;
}

.getApplicationSty {
    font-family: "JF Flat Jozoor";
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
    color: white;
};

.getApplicationStytext {
    font-family: "JF Flat Jozoor";
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: 40px;
    color: white;
};

.langueEN {
    font-family: "JF Flat Jozoor";
    font-size: 15;
    font-weight: "normal";
    font-style: "normal";
    letter-spacing: 0.13;
    color: #F0E40F;
    margin-top: 4px;
    cursor: pointer;
    width: 100%;
}

.langueAR {
    font-family: "JF Flat Jozoor";
    font-size: 15;
    font-weight: "normal";
    font-style: "normal";
    letter-spacing: 0.13;
    color: #F0E40F;
    margin-top: 4px;
    cursor: pointer;
    width: 100%;
}

.withShadow {
    -webkit-box-shadow: 0 2px 3px 0 rgba(7, 40, 39, 0.2);
    -moz-box-shadow: 0 2px 3px 0 rgba(7, 40, 39, 0.2);
    box-shadow: 0 2px 30px 3px rgba(7, 40, 39, 0.2);
}

.withBGCover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

//----------------------------------------------------------
.articleHorizontal {
    background-color: "#ffffff";
    border-radius: 6px;
    height: 180px;
}

.imgThumbnail {
    background-color: "#ffffff";
    border-radius: 6px;
    margin-right: 10px;
    // height:260px;
    margin-left: 10px;
}

//Pagination-----------------------------
.paginationItemClass {
    height: 36px;
    width: 36px;
    background-color: #f9f9f9;
    border: solid 1px #eeeeee;
    font-size: 14px;
    font-family: "mbregular";
    color: #838d8f;
}
.paginationItemClassFirst {
    margin-right: 10px;
    border-radius: 4px;
}
.paginationItemClassLast {
    margin-left: 10px;
    border-radius: 4px;
}
.paginationItemClassPrev {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.paginationItemClassNext {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

//----------------------------------------------------------
.myMenu {
    position: absolute;
    top: 80px;
    right: 50px;
    background-color: #fafafa;
    border-radius: 6px;
    width: 280px;
    // height: 300px;
    z-index: 1001;
}

.myMenuArabic {
    position: absolute;
    top: 80px;
    left: 10px;
    background-color: #fafafa;
    border-radius: 6px;
    width: 280px;
    direction: "right";
    // height: 300px;
    z-index: 1001;
}

.myMenuArrowUp {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    border-bottom: solid 15px #fafafa;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    position: relative;
    top: -15px;
    left: 137px;
}

.myMenuArrowUpArabic {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    border-bottom: solid 15px #fafafa;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    position: relative;
    top: -15px;
    left: 70px;
}

.myNotificationMenuArrowUp {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    border-bottom: solid 15px #fafafa;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    position: relative;
    top: -15px;
    left: 271px;
}

.myNotificationMenuArrowUpArab {
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    border-bottom: solid 15px #fafafa;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
    position: relative;
    top: -15px;
    left: 140px;
}

.notficationMenu {
    position: absolute;
    top: 80px;
    right: 85px;
    background-color: #fafafa;
    border-radius: 6px;
    width: 430px;
    // height: 300px;
    z-index: 1001;
}

.notficationMenuArabic {
    position: absolute;
    top: 80px;
    left: 10px;
    background-color: #fafafa;
    border-radius: 6px;
    width: 430px;
    // height: 300px;
    z-index: 1001;
}

.imgstyle {
    border: #e0e0e0 1px solid;
    width: 100%;
    height: 200px;
    padding: 10;
    border-radius: 6px;
}

a,
button,
img {
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

//-------------------------------------------
.hidden {
    display: none;
}
.show {
    display: block;
}

.h1Title {
    font-Family: "JF Flat Jozoor";
    text-shadow: 3px 2px 3px rgba(0,0,0,1);
    color: white;
    font-size: 35px;
}
.cardStyle:hover {
    //box-shadow: 0 0 0  3px gray;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: all 0.2s ease;
    cursor: pointer;
}

/***********************************password show******************************************/
.password {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    width: 100%;

    &__input {
        display: block;
        text-transform: none;
        width: 100%;
        height: 42px;
        border-width: 0 0 1px;
        border-style: solid;
        font-weight: 400;

    }

    &__show {
        cursor: pointer;
        position: absolute;
        right: 0;
        padding-right: 20px;
        border-radius: 4px;
        font-weight: 700;
        font-size: 0.8em;
    }
}

/**************************************************************************************/
/**
    * Tab panel in SearchScreen
    */

.myTabs {
    font-family: "JF Flat Jozoor";
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-top: -38px;
    margin-right: 40px;
    margin-left: 40px;
    //color: #3c3d41;
    letter-spacing: 0.22px;
}

.myTab {
    padding: 3px 30px;
    font-family: "JF Flat Jozoor";
}

.myTabPanel {
    padding: 30px 20px;
}

.bgTab {
    background-color: #F0E40F;
}

.tabIsActive {
    color: #F0E40F;
    background-color: white;
}

.bookmarkFA {
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: #CCC;
    float: right;
}
.bookmarkFA:hover,
.bookmarkFAActive {
    color: #F0E40F;
}

.notification {
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 25;
    font-size: 11px;
    font-family: 'mbsemibold';
    cursor: pointer;
}

.Nonotification {
    background-color: gray;
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 25;
    font-size: 11px;
    font-family: 'mbsemibold';
    cursor: pointer;
}

.mySuccessCard {
    background-color: #effff3;
    cursor: pointer;
}
.mySuccessCard:hover {
    background-color: #bce0c5;
}

.myDangerCard {
    background-color: #fff2f3;
    cursor: pointer;
}
.myDangerCard:hover {
    background-color: #e8ccce;
}

// --------------------------------------------------------------------------------------------------
@media screen and (max-width: 767px) {
    .articleHorizontal {
        height: 320px;
    }
    .imgArticle {
        height: 160px;
    }

    .imgThumbnail {
        margin-right: 60px;
        margin-left: 60px;
    }

}
@media screen and (max-width: 376px) {
    .articleHorizontal {
        height: 360px;
    }

    .imgThumbnail {
        margin-right: 30px;
        margin-left: 30px;
    }

    .myTitle {
        font-size: 30px;
    }

    .input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
}

a:hover, a:visited, a, a:focus {
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
}
