.react-tagsinput {
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
  padding-left: 5px;
  display: block;
  width: 100%;
  height:50px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #5c6873;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
  

}

.react-tagsinput--focused {
  display: block;
  width: 100%;
  height:50px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #5c6873;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e4e7ea;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
}

.react-tagsinput-tag {
  background-color: #838d8f;
  border-radius: 6px;
  border: 1px solid #838d8f;
  color: #ffffff;
  display: inline-block;
  font-family: 'mbregular';
  font-size: 14px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 12px;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: #777;
  font-family: 'mbregular';
  font-size: 16px;
  outline: none;
  width: 200px;
}


