<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./images/swiaa_black.png') %>">
    <link rel="manifest" href="<%= require('./icons/manifest.json') %>">
    <link rel="mask-icon" href="<%= require('./icons/safari-pinned-tab.svg') %>" color="#01d277">
    <script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
    <meta name="theme-color" content="#ffffff">
    <title>
        Swiaa
    </title>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdHlVlOBMyR9AD2BHbezfCpgT4B9BYrVU&libraries=places"></script>
</head>

<body>
    <div class="smoke-screen"></div>
    <div id="root"></div>
</body>

</html>